@model IEnumerable<QuanLyTaiNguyen_PhanQuyen.Models.UserManagement>

@Html.Partial("~/Views/Shared/Navbar.cshtml")


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>User name</th>
        <th>Group ID</th>
        <th>Group name</th>
        <th>Description</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @{
                    if (@item.Groups != null)
                    {
                        foreach (var g in item.Groups)
                        {
                            @Html.DisplayFor(gItem => g.GroupID)<br />
                        }
                    }
                }
            </td>
            <td>
                @{
                    if (@item.Groups != null)
                    {
                        foreach (var g in item.Groups)
                        {
                            @Html.DisplayFor(gItem => g.Name)<br />
                        }
                    }
                }
            </td>
            <td>
                @{
                    if (@item.Groups != null)
                    {
                        foreach (var g in item.Groups)
                        {
                            @Html.DisplayFor(gItem => g.Description)<br />
                        }
                    }
                }
            </td>
            <td>
                @Html.ActionLink("AddGroups", "AddGroups", new { id = item.User.UserID }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
